<div>
  <nav class="navbar navbar-expand-sm bg-light">
    <a href="javascript:;" class="mr-4" data-toggle="collapse" (click)="showHideSideBar()"><i
      class="fa fa-lg fa-bars"></i></a>
    <i class="glyphicon glyphicon-search"></i>
    <ul class="navbar-nav  mr-auto">
      <li class="nav-item">
        <a href="#" class="nav-link">Link 1</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Link 2</a>
      </li>
    </ul>
    <ul class="navbar-nav  ml-auto">
      <li class="nav-item">
        <a href="javascript:;" (click)="logout()" data-toggle="collapse" class="btn btn-outline-warning">Deconnexion</a>
      </li>
    </ul>

  </nav>
</div>
